
body {
    color: white;
}

.sampleForm {
    margin: 10px;
    background-color: rgb(241, 149, 11);
}

.rowForm {
    display: flex;
    flex-direction: row;
}

.formView {
    width: 50%;
}

.customCtrl {
    color: black;
}